label{
    font-size: large;
}
body{
    background-image: url('background.jpg');
}
form{
    color: rgba(13, 13, 10, 0.903);
    border-radius: 25px;
    
}
form label{
    font-weight: bold;
}
.submit{
    margin-right: 20px;
}
.btnContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    }
