<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Deposit</title>
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
	
	<link rel="stylesheet"  type="text/css" th:href="@{/css/deposit.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body style="background-image: url('images/background.jpg')">

		
	<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary"  style="text-align: center;">
		
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a class="navbar-brand mb-0 h1" href="userDashBoard.html">
				 <img src="images/piggy-bank.png" width="30" height="30" class="d-inline-block align-text-top">BanKy
			</a>
				<div class="container">  
		
					<strong style="font-size: x-large;">Welcome User</strong>  
				
				  </div>
				  </li>
		  </div> 
		   
		  <form style="margin-left: 30px;" method="post">	
			<button name"logout" class="btn btn-danger" type="submit">Logout</button>
		  </form>
		</div>
	  </nav>  
	
	<div class="container">


		<div class="row col-md-6 offset-md-3">

			<form th:action="@{/processTransfer}"
			method="post"
			th:object="${transferForm}"
		   >
				<h1 class="text-center" style="margin: 75px;">Money Transfer Facility</h1>
			   
					<div class="form-group">
					   
					   <div>
					   <label for="customerId" class="form-label">Transfer to Customer id :</label> 
							   
							   <input 
							   type="number" 
							   name="accountId"
							   placeholder="Customer id" 
							   class="form-control"
							   th:classappend="${#fields.hasErrors('accountId') ? 'is-invalid' : ''}"
							   />
		   
						   <div 
							th:each="e:${#fields.errors('accountId')}"
							th:text="${e}" 
							class="invalid-feedback">		
						   </div>	
						   
					   </div>
					   
					   <div>
						   <label for="transferAmount" class="form-label mt-3">Transfer Amount</label> 
							   
							   <input 
							   type="number" 
							   name="transferAmount"
							   placeholder="Transfer Amount" 
							   class="form-control "
							   th:classappend="${#fields.hasErrors('transferAmount') ? 'is-invalid' : ''}"
							   />
		   
						   <div 
							th:each="e:${#fields.errors('transferAmount')}"
							th:text="${e}" 
							class="invalid-feedback">
						   </div>
					   </div>
				   
					   
				   </div>
				   <div class="btnContainer">
					   <button type="submit" style="margin-right: 30px;" class="btn btn-primary">Transfer</button>
					   <button type="reset" class="btn btn-danger">Reset</button>
				   </div>
		   </form>

		</div>
	</div>
	
</body>
</html>